*,
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.slider img {
  height: 450px;
  object-fit: cover;
}

.close_btn_ant_badge {
  position: absolute;
  top: -5px;
  right: -5px;
}


